
extends ../layouts/common

block content

    h3 Update book
    form(action="/books/create", method="POST")
        input(type="text" name="titlebook" value='book.title')
        button(class="btn btn-success ml-3") Update