extends ../layouts/common

block content
    .container
        h3 List Book
        table.table   
            tr
                th Name
                th Description
            tr
                td=book.title
                td=book.description