extends ../layouts/common

block content
    .container
        h3 Create user
        form.form-group(action="/users/create", method="POST")

            label(for="name") Name
            input#name.form-control(type="text", name="name")

            button.btn.btn-primary.mt-2 Create