extends ../layouts/common

block content
    .container
        h3 List Users
        table.table   
            tr
                th Name
                th Phone
            tr
                td=user.name
                td=user.phone