extends ../layouts/common

block content
    .container
        h3 Create transaction
        form.form-group(action="/transactions/create", method="POST")
            .form-group
                label(for='user') Choose User
                select#user.form-control
                    each transaction in transactions
                        option=transaction.userName

                label(for='book') Choose Book
                select#book.form-control
                        each transaction in transactions
                            option= transaction.bookTitle

        button.btn.btn-primary Create