extends ../layouts/common

block content
    .container 
        h3 List Transactions
        table.table
            tr
                th User Name
                th Title Book
            each transaction in transactions
                tr
                    td= transaction.userName
                    td= transaction.bookTitle

        
        form.form-group(method="POST")
            .form-group
                label(for='user') Choose User
                select#user.form-control
                    each transaction in transactions
                        option=transaction.userName

                label(for='book') Choose Book
                select#book.form-control
                        each transaction in transactions
                            option= transaction.bookTitle

        button.btn.btn-primary Create transaction
                    